.contant{
    background-color: palevioletred;
    
}

.grid{
    display: grid;
    background-color: green;
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 20px;
}

.grid-inline{
    display: inline-grid;
    
    background-color: yellow;
    font-size: 30px;
    padding: 20px;
}