/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1440px;
    margin: 0px auto;
}

.content{
    flex: 1 1 auto;
}

.head{
    color: white;
    height: 782px;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../img/cloudbudget/title.jpg);
    background-size: 100%;
}

.head_row_header{
    display: flex;
}

.head_row_header_label{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 59px 161px 0 201px;
}

.img{
    padding: 0px 15px 0 0;
}

.head_row_header_sidebar{
    word-spacing: 40px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding: 63px 0 0 0;
}

.head_row_content{
    text-align: center;
    padding: 140px 0 0 0;
}

.head_row_content h1{
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;  
    align-items: center;
    letter-spacing: 0.05em;
    padding: 137px 0px 39px 0;
    
}

.head_row_content p{
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;  
    text-align: center;
    padding: 0 0 39px 0;
}

.head_row_content h4{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ED4C5C;
}

.signUp_button{
    background: #FFFFFF;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    border-color: #ED4C5C;
}

.use{
    height: 500px;
}

.use_row{
    display: flex;
    padding:  94px 0 0 0;
}

.use_text{
    padding:46px 125px 0 165px ;
}

.use_text h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    width: 445px;
}

.use_text p{
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    padding: 24px 0 5px 0;
    width: 445px;
}

.use_text a{
    color:#ED4C5C;
}

.use_row {
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: black;
}

.use_photo{
    background: #C4C4C4;
}

.use_photo_img{
    border-radius: 15px;
    position: absolute;
    width: 445px;
    height: 311px;
}


.features{
    height: 660px;
    background-color:  #FAFAFA;
}

.features_row{
    padding: 94px 0 0 165px;
}

.features_title{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}

.features_icons{
    display: flex;
}

.features_icons1, .features_icons2, .features_icons3{
    margin: 0 45px;
}

.icons1_photo, .icons2_photo, .icons3_photo{
    
    width: 350px;
    height: 250px;
    background: #928a8a;
    border-radius: 8px;
    position: relative;

}

.icons1_text, .icons2_text, .icons3_text{
    width: 293px;
    height: 198px;
    background-color: white;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    margin: -50px 0 0 30px;
}

.icons1_text p:first-of-type, .icons2_text p:first-of-type, .icons3_text p:first-of-type{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 33px 33px 20px 33px;
}

.icons1_text p:last-of-type, .icons2_text p:last-of-type, .icons3_text p:last-of-type{
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    padding: 0px 33px 22px 33px;
}

.icons1_href, .icons2_href, .icons3_href{
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
    position: absolute;
    width: 280px;
    height: 18px;
}


.technology{
    height: 500px;
}

.technology_name{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    padding: 63px 0px 52px 0px;
}

.technology_icons{
    display: flex;
    place-content: space-around;
    width: 100%;
    height: 226px;
    padding: 0 0px 0 165px;
}

.technology_cloud, .technology_secure, .technology_png, .technology_csv{
    text-align: center;
}

.cloud01, .secure02, .png03, .csv04 {
    position: absolute;
}

.cloud, .secure, .png, .csv{
    margin: 59px 0 0 18px ;
}

.technology_cloud p:first-of-type, .technology_secure p:first-of-type, .technology_png p:first-of-type, .technology_csv p:first-of-type{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 19px 0 10px 0;
}

.technology_cloud p:last-child, .technology_secure p:last-child, .technology_png p:last-child, .technology_csv p:last-child{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    width: 191px;
}

.focused{
    height: 500px;
    background: #ED4C5C;
}

.focused_row{
    display: flex;
    padding: 94px 0 0 165px;
}

.focused_text p:first-child{    
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    width: 445px;
    height: 107px;
    color: white;
    padding: 0 0 24px 0;
}

.focused_text p:last-of-type{
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    width: 445px;
    height: 64px;
    color: white;
    margin: 0px 0 40px 0px;
}

.focused_text_svg svg:first-of-type{
    margin: 0 25px 0 0;
}

.focused_text_svg svg:last-of-type{
    margin: 0 0px 0 25px;
}

.focused_img{
    padding: 0 0 0 81px;
}

.focused_img1{
    position: absolute;
    width: 383px;
    height: 267px;
    background: #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
    margin: 20px 0 0 150px;
}

.focused_img2{
    position: absolute;
    width: 383px;
    height: 267px;
    background: #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
    margin: 20px 0;
}

.focused_img3{
    position: absolute;
    width: 445px;
    height: 311px;
    background: #C4C4C4;
    border-radius: 15px;
    margin: 0 0 0 50px;
}


.contact{
    height: 500px;
}

.contact_row{
    display: flex;
    padding: 117px 0 0 177px;
}

.contact_text p:first-child{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    padding: 0 0 50px 0;
}

.contact_text p:last-child{
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    height: 64px;
    width: 434px;
}

.contact_form{
    padding: 0 0 0 125px;
}
.contact_form1, .contact_form2{ 
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    width: 255px;
    height: 60px;   

    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding: 0px 0px 0px 31px;
}

.contact_form1{ 
    margin: 0 30px 0 0;   
}

.contact_form3{
    margin: 24px 0 24px 0;
}

.contact_form4, .contact_form3{
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;

    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding: 0px 0px 0px 31px;
}

.contact_submit{
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 27px 0 0 2px ;

    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer{
    background-color: #FAFAFA;
    height: 435px;
}

.footer_row{
    display: flex;
    justify-content:space-around;
    padding: 85px 0 0px 50px;
}

.footer_text1{
    font-size: 12px;
    line-height: 160%;
}

.footer_text1 p:first-child{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.footer_text2{
    font-size: 12px;
    line-height: 160%;
}

.footer_text2 p:first-child{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.footer_text3{
    font-size: 12px;
    line-height: 160%;
}

.footer_text3 p:first-child{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.footer_text4{
    font-size: 12px;
    line-height: 160%;
}

.footer_text4 p:first-child{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.footer_smth{
    padding: 110px 0 0px 161px;
}