*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family: Lato; color: black;font-weight: 500;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* -------------header-------------*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header__logo {
    font-size: 18px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin: 0px 0px 0px 133px;
}
@media (max-width: 992px){
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 767px){
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width: 479px){
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}
.menu {
    padding: 5px 0;
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item:not(:last-child){
    margin: 0px 21px 0px 0px;
}
.menu__link {
    line-height: 171%;
    font-weight: 600;
    color: inherit;
}
.header__button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 0 0 133px;
}
@media (max-width: 992px){
    .header__button {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 767px){
    .header__button {
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width: 479px){
    .header__button {
        margin: 0px 0px 0px 20px;
    }
}
/* -------------header-------------*/

/*---------------page--------------*/

.page{
    flex: 1 1 auto;
}
.page__main-block {
}
.page__easytouse {
}
.page__features {
}
.page__technology {
}
.page__focused {
}
/*---------------page--------------*/

/* -------------main-------------*/
.main-block {
    position: relative;
}
.main-block__container {
}
.main-block__body {
    position: relative;
    z-index: 2;
    padding: 257px 0px 187px 0px;
    display: grid;
    text-align: center;
    justify-items: center ;
}
.main-block__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 137%;
    max-width: 578px;
}
@media (max-width: 992px){
    .main-block__title {
        font-size: 62px;
    }
    .main-block__text {
        font-size: 20px;
    }
}
@media (max-width: 523px){
    .main-block__title {
        font-size: 42px;
    }
    .main-block__text {
        font-size: 10px;
    }
}
.main-block__body > *:not(:last-child){
    margin: 0px 0px 39px 0px;
}
.main-block__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    max-width: 450px;
}
.main-block__button {
    color: #ED4C5C;
    font-weight: 600;
    line-height: 17px;

    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    padding: 17px 53px;

    max-width: 165px;
}
.main-block__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1300px){ /* чтобы были видны люди */
    .main-block__image img{
        object-position: center;
    }
}

/*---------------main--------------*/

/* -------------easytouse-------------*/
.easytouse {
    padding: 94px 0px 95px 0px;
}
.easytouse__container {
}
.easytouse__body {
    display: flex;
    align-items: flex-start;
}
@media (max-width: 950px) {
    .easytouse__body {
        flex-direction: column;
        align-items: stretch;
        margin: 0px 0px -80px 0px;
    }
    .easytouse__content {
        margin: -25px -120px 35px 0px;
    }
}
.easytouse__content {
    flex: 1 1 auto;
    padding: 45px 125px 0px 0px;
}
.item-main-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 43.2px;
}
.item-main-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    text-align: justify;
    padding: 30px 0px 14px 0px;
}
.easytouse__title {
}
.easytouse__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    text-align: justify;
    padding: 30px 0px 14px 0px;
}
.easytouse__readmore a{
    color: #ED4C5C;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
}
.easytouse__video {
    position: relative;
    flex: 0 0 42.5%;
    padding: 0px 0px 30% 0px;
}
.easytouse__video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* -------------easytouse-------------*/


/*---------------features--------------*/
.features {
    background: #fafafa;
    padding: 0px 0px 124px 0px;

}
.features__container {
}
.features__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-title{
    font-weight: 600;
    line-height: 44px;
    font-size: 36px;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 63px;
}
.features__title{
}
.features__column {
}
@media (max-width: 1020px) {
    .features__column:not(:last-child){
        padding: 0px 0px 20px 0px;
        
    }
    .features__column {
        margin: 0 auto;
    }
}
.features__photo img{
    max-width: 300px;
}
.features__item {
    position: relative;
    z-index: 2;
    margin: -93px 0px 0px 20px;


    background-color: white;
    border-radius: 8px;
    padding: 33px 32px 25px 32px;

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    max-width: 263px;

    text-align: center;
}

.item-features__title {
    font-weight: 700;
    font-style: 18px;
    line-height: 21.6px;
    padding: 0px 0px 20px 0px;
}
.item-features__text {
    font-weight: 400;
    font-style: 12px;
    line-height: 18px;
    padding: 0px 0px 25px 0px;
}
.item-features__href a{
    font-weight: 700;
    font-style: 12px;
    line-height: 18px;
    color: #ED4C5C;
}


/* -------------features-------------*/

/* -------------technology-------------*/
.technology {
    padding: 0px 0px 104px 0px;
}
.technology__container {
}
.technology__title {
    padding: 47px 0px 52px 0px;
}
.technology__body {
    display: flex;
    flex-wrap: wrap;
}
.technology__column {
    flex: 0 1 25%;
    padding: 0 34px 0 0px;
}
.technology__column:last-child {
    padding: 0 0px 0 0px;
}
@media (max-width: 739px) {
    .technology__column {
        flex: 0 1 50%;
        margin: 0px 0px 20px 0px;
    }
}
@media (max-width: 380px) {
    .technology__column {
        flex: 0 1 100%;
        margin: 0px 0px 30px 0px;
    }
}
.technology__item {
}
.technology__icon {
    text-align: center;
}
.technology__number {
    text-align: center;
}
.cloud {
    margin: -40px 0px 0px 0px;
}
.technology__main-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    text-align: center; 
    padding: 10px 0px 10px 0px;
}
.technology__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;
}

/* -------------technology-------------*/

/* -------------focused-------------*/


.focused {
    background: #ED4C5C;
    color: white;
    padding: 94px 0px 95px 0px;
}
.focused__container {
}
.focused__body {
    display: flex;
    align-items: flex-start;
}
@media (max-width: 1131px) {
    .focused__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .focused__photo{
        justify-content: center;   
        padding: 0px 0px 0px 40px;
    }
    .focused__content {
        margin: -25px -120px 35px 0px;
    }
}
@media (max-width: 547px) {
    .focused__photo {
        margin: 0px 0px 0px -120px;
    }
    .left__photo img{
        height: 150px;
        width: 200px;
    }
    .left__photo {
        margin: -20px -100px 0px 0px;
    }
    .main__photo img{
        height: 230px;
        width: 300px;
    }
    .right__photo img{
        height: 150px;
        width: 200px;
    }
    .right__photo {
        margin: -20px 0px 0px -180px;
    }
}
@media (max-width: 375px) {
    .focused__photo {
        margin: 0px 0px 0px -120px;
    }
    .left__photo img{
        height: 70px;
        width: 120px;
    }
    .left__photo {
        margin: -20px -30px 0px 0px;
    }
    .main__photo img{
        height: 150px;
        width: 220px;
    }
    .right__photo img{
        height: 70px;
        width: 120px;
    }
    .right__photo {
        margin: -20px 0px 0px -110px;
    }
}
.focused__content {
    flex: 0 0 57.5%;
    padding: 45px 125px 0px 0px;
}
.focused__title {
}
.focused__text {
}
.focused__icons{
    height: 48px;
    display: flex;
    align-items: flex-end;
}
.focused__icons img:nth-last-of-type(2){
    padding: 0px 28px;
}
.focused__photo {
    display: flex;
    flex: 1 1 auto;
}
.photo {
}
.left__photo {
    transform: rotate(90deg);
    max-height: 267px;
}
@media (max-width: 7000px) and (min-width: 547px) {
    .left__photo {
    margin: 0px -340px 0px 81px;
    }
    .right__photo {
        margin: 0px 0px 0px -230px;
    }
}
.left__photo img{
    border-radius: 1px solid #ED4C5C;
    border-radius: 15px;
}
.main__photo {
    position: relative;
    z-index: 2;
    margin: -20px 0px 0px 0px;
}
.right__photo {
    max-height: 267px;
    transform: rotate(90deg);
    border-radius: 1px solid #ED4C5C;
    border-radius: 10px;
}
.right__photo img{
    border-radius: 1px solid #ED4C5C;
    border-radius: 15px;
}

/* -------------focused-------------*/

/* -------------contact-------------*/

.page__contact {
}
.contact {
    padding: 117px 0px 78px 0px;
}
.contact__container {
}
.contact__body {
    display: flex;
}
.contact__content {
    flex: 0 0 57.5%;
    padding: 45px 125px 0px 0px;
}
.contact__title {
}
.contact__text {
}
.contact__form form{
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px 0px 20px 30px;
    margin: 0px 0px 24px 0px;
}
.contact__input__firstname {
}
.contact__input__lastname {
}
.contact__input__phone {
}
.contact__input__service {
}
.contact__form__button{
    color: white;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;

    padding: 16px 34px;
}
.contact__form__name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

@media (max-width: 965px) {
    .contact__body {
        flex-direction: column;
        align-items: stretch;
    }
    .contact__content {
        margin: -50px -120px 30px 0px;
    }
}
@media (max-width: 488px) {
    .contact__form__name{
        display: flex;
        flex-wrap: wrap;
    }
    .contact__form__name form{
        flex: 0 1 100%;
    }
    .contact__form__name form:first-child{
        margin: 0px 0px 5px 0px;
    }
}
/* -------------contact-------------*/


/* -------------footer-------------*/

.footer {
    padding: 130px 0px 86px 0px;
    background: #FAFAFA;
}
.footer__top {
}
.footer__main {
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__column {
}
@media (max-width: 992px) {
	.footer__column {
        margin: 0px 0px 20px 0px;
		flex: 0 1 50%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}

@media (max-width: 462px) {
	.footer__column {
        margin: 0px 0px 40px 0px;
	}
}
@media (max-width: 346px) {
	.footer__column {
        flex: 0 1 100%;
        margin: 0px 0px 40px 0px;
	}
}
.footer__label {
    font-weight: 700;
    line-height: 21.6px;
    font-size: 18px;
    padding: 0px 0px 23px 0px;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.menu-footer__link {
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.footer__contacts {
}
.contacts-footer {
}
.contacts-footer__item {
}
.contacts-footer__item_email {
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.contacts-footer__item_phone {
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    padding: 11px 0 21px 0;
}
.contacts-footer__icons {
}
.contacts-footer__icons__second{
    padding: 0px 16px;
}
.footer__bottom {
    padding: 86px 0px 0px 0px;
}
.footer__container {
    display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__copy {
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    line-height: 14.4px;
}
/* -------------footer-------------*/
